<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<div class="display">
  <div class="body-text">
    <section class="section-layout">
      <h1>Films? I've seen them.</h1>
    </section>
    <section class="section-layout">
      <table>
        <% @blog_posts.each do |blog_post| %>
          <tr class="section-layout">
            <td class="title"><%= blog_post.title %></td>
            <td><%= blog_post.excerpt %></td>
            <td><%= link_to ' More here!', blog_post_path(blog_post) %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>